CRM_USUARIO=seu_usuario
CRM_SENHA=sua_senha
CANALPRO_EMAIL=seu_email@gmail.com
CANALPRO_SENHA=sua_senha_canalpro
# Portal alvo para renovacao no Canal Pro/ZAP
# 9 = VivaReal | 61 = OLX Brasil (Canal Pro/ZAP_OLX)
PORTAL_TARGET_ID=61
PORTAL_TARGET_NAME=OLX Brasil
PORTAL_TARGET_FILE=olx.php
PORTAL_VERIFY_TARGET=canal_pro
