[Unit]
Description=Timer diario Atualizacao ZAP as 20:00

[Timer]
OnCalendar=*-*-* 20:00:00
Persistent=true
Unit=atualizacao-zap.service

[Install]
WantedBy=timers.target
